Logged in as <%= @user_name %>

<form action="/" method="post">
  <label for="project_id" class="form-label">Project ID</label>
  <input type="text" name="project_id" id="project_id" class="form-input">
  
  <label for="story_ids" class="form-label">Story IDs</label>
  <input type="text" name="story_ids" id="story_ids" class="form-input">

  <input type="submit" value="print" class="button">
</form>
