<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kardban Card Printer</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="style.css">
  </head>
  <body>
	<section class="card">
      <h1 class="card__title">Card Printer</h1>
	  <%= yield %>
    </section>
  </body>
</html>

